body {
  --primary: oklch(65.69% 0.196 275.75);
  --secondary: oklch(74.8% 0.26 342.55);
  --accent: oklch(74.51% 0.167 183.61);
  --neutral: #2a323c;
  --neutral-content: #A6ADBB;
  --base-100: #1d232a;
  --base-200: #191e24;
  --base-300: #15191e;
  --base-content: #A6ADBB;

  background-color: var(--base-100);
  font-family: Noto Sans, serif
}

.main {
  color: var(--neutral-content);
  background-color: var(--neutral);
  position: relative;
}

@media (max-width: 30em) {
  .main {
    width: 100%;
    left: 0;
  }
}

@media (min-width: 30em) and (max-width: 60em) {
  .main {
    width: 30em;
    left: calc( (100% - 30em) / 2);
  }
}

@media (min-width: 60em) {
  .main {
    width: 50%;
    left: 25%
  }
}

h2, h3 {
  text-align: center;
}

p {
  text-align: center;
}

.no-center {
  text-align: start;
}