body {
  /*https://github.com/saadeghi/daisyui/blob/master/src/theming/themes.js#L105*/
  --primary: oklch(65.69% 0.196 275.75);
  --secondary: oklch(74.8% 0.26 342.55);
  --accent: oklch(74.51% 0.167 183.61);
  --neutral: #2a323c;
  --neutral-content: #A6ADBB;
  --base-100: #1d232a;
  --base-200: #191e24;
  --base-300: #15191e;
  --base-content: #A6ADBB;
}

body {
  margin: 0;
  background-color: var(--base-100);
  font-family: Noto Sans, serif
}

img {
  width: 50%;
  border-radius: 1em;
  margin: auto;
  display: block;
}

h2, h3 {
  text-align: center;
}

p {
  text-align: center;
}

ul {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

li {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.main {
  padding: 16px 8px 8px;
  color: var(--neutral-content);
  background-color: var(--neutral);
  position: relative;
  height: max(100vh, 100%)
}

.jump {
  text-decoration: none;
  color: var(--base-100);
}

.compact {
  margin-left: 0;
  margin-right: 0;
}

.no-center {
  text-align: start;
}

@media (max-width: calc(30em + 16px)) {
  .main {
    width: calc(100% - 16px);
    left: 0;
  }
}

@media (min-width: calc(30em + 16px)) and (max-width: 60em) {
  .main {
    width: calc(30em);
    left: calc( ((100% - 30em) / 2) - 8px);
  }
}

@media (min-width: 60em) {
  .main {
    width: 50%;
    left: 25%
  }

  img {
    width: 15em;
  }
}
